:root {
    --main-color: #BCA88E;
    --bg-color: #E3E8E9;
    --secondary-color: #9DA993;
    --tertiary-color: #E4B4B4;
    --shadow-color: #888888;
    background-color: var(--bg-color);
}
* {
    margin: 0px;
    padding: 0px;
}
.title {
    font-weight: bold;
    font-size: 24px;
    background-color: var(--main-color);
    padding: 10px;
    box-shadow: 0px 10px 10px -10px var(--shadow-color);
}
.bookLibrary {
    display: grid;
    justify-items:center;
    gap:32px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: repeat(auto-fit, minmax(164px,1fr));
}
.bookTile {
    width: 156px;
    height: 156px;
    display:grid;
    justify-items: center;
    align-items: center;
    padding:16px;
    background-color: var(--secondary-color);
    /* border:var(--main-color) solid 1px; */
    border-radius: 8px;
    box-shadow: 10px 10px 10px -10px var(--shadow-color);
}
/* .addCard {
    width: 128px;
    display:grid;
    justify-items: center;
    padding:8px;
    border: red solid 1px;
} */
.bookTitle {
    font-weight: bold;
    font-size:1.2rem;
}
.buttonContainer {
    width: 96px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
/* .bookRead {
    width: 32px;
} */
.buttons {
    width:32px;
    position: relative;
    display:inline-block;
}
.buttonImg {
    width: 32px;
}
.buttons:hover {
    scale: 1.33;   
    transition: all 100ms ease-in-out ;
}
.buttonTooltip {
    visibility: hidden;
    width: 120px;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size:.7rem;
    top:90%;
    left:50%;
    margin-left:-64px;

    position: absolute;
    z-index: 1;
}
.buttons:hover .buttonTooltip {
    visibility: visible;
}
.addButton {
    position: relative;
    display: inline-block;
}
.addTooltip {
    visibility: hidden;
    width: 120px;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size:.7rem;
    top:90%;
    left:50%;
    margin-left:-64px;

    position: absolute;
    z-index: 1;
}
.addButton:hover {
    scale: 1.33;
    /* transform: rotate(90deg); */
    transition: all 100ms ease-in-out;
}
.addButton:hover .addTooltip {
    visibility: visible;
}
.addBookForm {
    display:none;
}
.formPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black solid 2px;
    border-radius: 8px;
    background-color: var(--main-color);
    width: 30%;
    height: 30%;
    display:grid;
    justify-items: center;
    align-items: center;
}
#bookName, #bookAuthor, #bookPages, #read {
    padding:4px;
    background-color: var(--bg-color);
    border-radius: 8px;
}