.title {
    font-weight: bold;
    font-size: 24px;
}
.bookLibrary {
    display: grid;
    gap:16px;
    grid-template-columns: repeat(auto-fit, minmax(164px,1fr));
}
.bookTile {
    width: 128px;
    display:grid;
    padding:8px;
}
.bookTitle {
    font-weight: bold;
}
.removeButton {
    width:100px;
}
.addBookForm {
    display:none;
}
.formPopup {
    position: fixed;
    top: 10%;
    left: 10%;
    border: black solid 2px;
    background-color: rgba(211, 210, 210, 1);
    width: 80%;
    height: 40%;
}